
<div class="wrapper">
<%= render "admin/layouts/sidebar" %>
<div class='container-fluid p-0'>
   <%= render "admin/layouts/header" %>
    <section>
    <% if flash.key? :alert %>
    <p><%= flash[:alert] %></p>
    <% end %>
    <div class="container">
      <%= form_with url: admin_city_create_path,  method: :post do |f|%>
        <div class="form-group">
           <%f.label :city %>
           <%=f.text_field :city, class:"form-control" %>
        </div>
        <%=f.submit :add ,class:"btn btn-info" %>
      <% end%>
    </div>
    </section>
</div>
</div>