<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'admin/admin' , media: 'all', 'data-turbolinks-track': 'reload'%>
<% end %>
<section class="admin-login">
<div class="container">
<% if flash.key? :error %>
  <p><%= flash[:error] %></p>
<% end %>
<%= form_with url: admin_login_auth_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :email ,class:"form-lebel"%>
    <%= email_field_tag :email, "", required: true ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password  ,class:"form-lebel"%>
    <%= password_field_tag :password, "", required: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Login" ,class: "btn btn-primary w-100"%>
  </div>
<% end %>
<div>
</section>