<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'admin/admin' , media: 'all', 'data-turbolinks-track': 'reload'%>
<% end %>
<section class="admin-login">
<div class="container">
  <% if flash.key? :error %>
  <%= render 'layouts/alert_error', error: flash[:error]%>
  <% end %>
  <h3 class="text-center text-white">admin login</h3>
 <%= form_with url: admin_login_auth_path, method: :post do |f| %>
  <div class="form-group">
  <%= f.label :email ,class:"form-lebel text-white"%>
  <%= email_field_tag :email, "", required: true ,class: "form-control"%>
  </div>

  <div class="form-group">
  <%= f.label :password  ,class:"form-lebel text-white"%>
  <%= password_field_tag :password, "", required: true, class: "form-control" %>
  </div>

  <div class="actions">
  <%= f.submit "Login" ,class: "btn btn-primary w-100"%>
  </div>
<% end %>
<div>
</section>