
<div class="wrapper">
    <%= render "admin/layouts/sidebar" %>
    <div class='container-fluid p-0'>
       <%= render "admin/layouts/header" %>
        <section>
        <div class="container">
          <%= form_with url: admin_car_registration_update_path,  method: :put do |f|%>
            <div class="form-group">
               <%f.label 'car registration' %>
               <%=f.text_field :state_code, class:"form-control", value: @car_registration.state_code %>
            </div>
            <%=f.submit :update ,class:"btn btn-info" %>
          <% end%>
        </div>
        </section>
    </div>
    </div>