<style>
table{
  border-collapse: collapse;
  width: 100%;
}
td,th{
  border: 1px solid #dddddd;
  text-align:left;
  padding: 8px;
}
</style>
<div class="wrapper">
<%= render "admin/layouts/sidebar" %>
<div class='container-fluid p-0'>
   <%= render "admin/layouts/header" %>
  <section>
    <% if flash.key? :notice %>
    <%= render 'layouts/alert_success',  :notice =>  flash[:notice] %>
    <% end %>

    <% if flash.key? :error %>
    <%= render 'layouts/alert_error',  :error => flash[:error]%>
    <% end %>
  <div class="container-fluid mt-3">
  <table>
    <thead>
     <tr>
  <th>id</th>
  <th>quality</th>
  <th>range1</th>
  <th>range2</th>
  <th>currency</th>
  <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <% @cost_ranges.each do |cr| %>
  <tr>
  <td><%=cr.id%></td>
  <td><%=cr.quality%></td>
  <td><%=cr.range1 %></td>
  <td><%=cr.range2 %></td>
  <td><%=cr.currency %></td>
  <td>
  <%= link_to 'delete', admin_cost_range_delete_path(cr.id), class: "btn btn-danger", onclick: 'return confirm("are you sure you want to delete this item")' %>
  <%= link_to 'edit', edit_admin_cost_range_path(cr.id), class: "btn btn-info" %>
  </td>
  </tr>
  <% end %>
  </tbody>
  </table>
  </div>
  </section>
</div>
</div>