<style>
.slider-img{
	width:100px;
	border: 1px solid black;
}
.slider {
	max-width: 450px;
	overflow: hidden;
}
.splide__slide{
   padding: 0px 5px 0px 5px;
}

.back-for{
	outline: none;
	border-radius: 50%;
	border: none;
	background-color: white;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;

}
.slider-image {
    width: 100px;
    border: 1px solid black;
}
.img-item{
    padding: 0 5px 0px 5px;
}
.slider{
    max-width: 400px;
    overflow: hidden;
}
.for-back{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.for-back:hover{
    background-color: black;
    color: white;
    border: none;
}
.for-back:focus{
    border: none;
    outline: none;
}
#lop{
    margin-left: -4px;
}
      .slider-image{
          cursor: pointer;
          opacity: 0.5;
      }
      .active {
          opacity: 1;
      }
      .main-content {
          width: 500px;
      }

      .img-fix{
          height: 400px;
          width: 400px;
      }
      .car-gallery{
        display: flex;
        align-items: center;
        flex-direction: column;

      }


</style>
<header>
<%= render "user/layouts/header" %>
</header>
<main>
<%= form_with url:create_buyer_appointment_path, id:"appoint-form", method:"post" do |f|%>
<div class="container pt-5">
<div class="row">
<div class="col-md-6 col-lg-6 col-xl-6">
<div class="car-gallery">
<div class="main-thumb">
    <% if @car.car_images.attached? %>
    <%= image_tag @car.car_images[0], alt:"car image", class:"img-fix", id:"main-img" %>
    <% end %>
</div>
<div class="d-flex align-items-center">
<button class="for-back" onclick="slide('1')">
    <i class="fa fa-angle-left"></i>
</button>
    <% if @car.car_images.attached? %>
    <ul class="list-unstyled slider d-flex mb-0">
          <% @car.car_images.each do |image| %>
            <li class="img-item">
              <%= image_tag image, alt:"car image", class:"slider-image"%>
            </li>
         <% end %>
    </ul>
    <% end %>
    <button class="for-back" onclick="slide('0')" >
        <i class="fa fa-angle-right"></i>
    </button>              
</div>
</div>
</div>
<div class="col-md-6 col-lg-6 col-xl-6">
<div class="car-description">
  <%= @car.description %>
</div>
<div class="price-appoint d-flex  justify-content-between">
<div class="price">
<%= @car.price %>
</div>
<%= f.text_field 'seller_user_id', type:"hidden", value:@car.user_id %>
<%= f.text_field 'user_id', type:"hidden", value:current_user.id%>
<% if current_user.role == 'buyer' %>
<div class="appoint">
<%= f.submit "appoint",class:"btn btn-primary"%>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
<% end %>
</main>
  
  <!-- Modal -->
  <div class="modal fade" id="verify-email" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="generate_verification_email()" >verify email</button>
            </div>
        </div>
        
      </div>
    </div>
  </div>
<script>
var user = <%= current_user.to_json.html_safe %>

        function slide(f){
            if(f == "1"){
              $(".slider").animate({scrollLeft: "-=100"},"fast")
            }else{
              $(".slider").animate({scrollLeft: "+=100"},"fast")
            }
        }
        $(".slider-image").on('click', function(){
            if($(this).hasClass("active")){
                return false
            }else{
                $(".slider-image").removeClass("active")
                $(this).addClass("active")
                console.log($(this).attr('src'))
                console.log($("#main-img").attr('src'))
                var image =  $("#main-img")
                var selectedurl = $(this).attr('src')
                image.fadeOut('fast', function(){
                    image.attr('src', selectedurl)
                    image.fadeIn('fast')
                })
            }
        })

function generate_verification_email(){
  data = {
    user_id: '<%=current_user.id %>',
  }
  $.ajax({
    type: 'get',
    data: data,
    url: "<%= email_verification_request_generate_url %>",
    success: function(data){
      console.log(data)
    },
    error: function(err){
      console.log(err)
    }
  }
  )
}

$('#appoint-form').submit(function(e){
  console.log(user)
  var email_verified = user.email_confirmed
  console.log(email_verified)
  if(email_verified){
    p = confirm("are you sure of this appointment");
    return p
  }

  if(!user){
    window.location.href = '<%= buyer_registration_url %>'
  }
  $("#verify-email").modal('show')
  return false 
})
$('.for-back').click(function(e){
  e.preventDefault()
})

</script>	
<%= render "user/layouts/footer" %>
