<%= render 'user/layouts/header' %>
<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'user_settings' , media: 'all', 'data-turbolinks-track': 'reload'%>
<% end %>
<div class="container mt-3">
  <% if flash.key? :notice %>
  <%= render 'layouts/alert_success', notice: flash[:notice] %>
  <% end %>
  <% if flash.key? :error %>
  <%= render 'layouts/alert_error', error: flash[:error]%>
  <% end %>
  <div class="cover-image">
    <section>
    <div class="image-view">
      <div class="cover-img-wrap">
        <% if current_user.cover_pic.attached? %>
        <%= image_tag current_user.cover_pic, class:'cover-img', alt: "user-cover"%>
        <% else %>
         <%= image_tag 'default_user.png', class: 'cover-img', alt: "user-cover" %>
        <% end %>
        <div class="d-flex cover-wrap">
        <button id="cover-img-upload" onclick="document.getElementById('cover-img-hidden').click()"><i class="fa fa-camera"></i></button>
        <input type="file" hidden="true" id="cover-img-hidden"/>
        <button id="upload-cover" class="btn btn-primary" onclick="upload_cover_img('<%= current_user.id %>')">upload</button>
         </div>
      </div>
      <div class="profile-img-wrap">
        <%if current_user.profile_pic.attached? %>
        <%= image_tag current_user.profile_pic, class:"profile-img", alt:"user-profile"%>
        <% else %>
        <%= image_tag 'default_user.png', class: 'profile-img', alt: "user-profile" %>
        <% end %>
        <div class="d-flex">
        <button id="profile-img-upload" onclick="document.getElementById('profile-img-hidden').click()"><i class="fa fa-camera"></i></button>
        <input type="file" hidden="true" id="profile-img-hidden"/>
        </div>
      </div>
      </div>
    </section>
    <section class="mt-5">
      <%= form_with url: user_update_profile_path, method: :put do |f|%>

      <%= f.text_field :id, type:"hidden", value: current_user.id %>
      <div class="form-group">
      <%= f.label 'first name' ,class:"form-lebel"%>
      <%= f.text_field :first_name, required: true ,class: "form-control", value: current_user.first_name%>
      </div>
      <div class="form-group">
      <%= f.label 'last name' ,class:"form-lebel"%>
      <%= f.text_field :last_name, required: true ,class: "form-control", value: current_user.last_name%>
      </div>
      <div class="form-group">
      <%= f.label :email ,class:"form-lebel"%>
      <%= email_field_tag :email, "", required: true ,class: "form-control", value: current_user.email%>
      </div>

      <div class="form-group">
      <%=f.label 'choose your country'%>
      <%=select_tag(:country_id, options_for_select(@countries, selected: current_user.country_id), class:"custom-select custom-select-lg mb-3", id:"country") %>
      </div>
      <div class="form-group">
      <%=f.label 'choose your state'%>
      <%=select_tag(:state_id, options_for_select(@states, selected: current_user.state_id), class:"custom-select custom-select-lg mb-3", id:"state")%>
      </div>

      <div class="form-group">
      <%=f.label 'choose your city'%>
      <%=select_tag(:city_id, options_for_select(@cities, selected: current_user.city_id), class:"custom-select custom-select-lg mb-3", id:"city") %>
      </div>

      <div class="form-group">
      <%=f.label 'zip code'%>
      <%=f.text_field 'zip_code', class: 'form-control', value: current_user.zip_code %>
      </div>

      <div class="actions">
      <%= f.submit "update" ,class: "btn btn-primary w-100"%>
      </div>
      <%end%>
      <p><%= link_to 'change password', get_password_update_path %></p>
      <div class="modal fade" id="profile-img-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <button id="upload-profile" class="btn btn-primary" onclick="upload_profile_img('<%= current_user.id %>')">upload</button>
          </div>
          <div class="notify-success notify-profile-success"></div>
          <div class="notify-error notify-profile-error"></div>
        </div>

        </div>
      </div>
      </div>
    </section>
  </div>
</div>
<script>
  function upload_cover_img(user_id){
  var fd = new FormData();
  fd.append('id', user_id )
  fd.append('cover_pic', $('#cover-img-hidden').prop('files')[0] )
  $.ajax({
    type: 'post',
    url: '<%=  ws_upload_user_cover_pic_path %>',
    processData: false,
    contentType: false,
    data: fd,
    success: function(res){
    console.log(res)
    if(res.status === 1){
      $('.cover-img').attr('src',res.image)
      $('#upload-cover').hide()
    }
    },
    error: function(err){

    }
  })
  }

  function upload_profile_img(user_id){
  var fd = new FormData();
  fd.append('id', user_id)
  fd.append('profile_pic', $('#profile-img-hidden').prop('files')[0]);
  $.ajax({
    type: 'post',
    url: '<%= ws_upload_user_profile_pic_path %>',
    processData: false,
    contentType: false,
    data: fd,
    success: function(res){
    if(res.status === 1){
      $(".profile-img").attr('src', res.image)
      $('#profile-img-modal').modal('hide')
    }
    },
    error: function(err){

    }
  })
  }
  $("#cover-img-hidden").change(function(){

  $('#upload-cover').css('display','block')
  })

  $("#profile-img-hidden").change(function(){
  $('#profile-img-modal').modal('show')
  })

</script>
<%= render 'layouts/helper_address' %>