<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'user_profile' , media: 'all', 'data-turbolinks-track': 'reload'%>
<% end %>
<%= render 'user/layouts/header'%>
<div class="container border rounded mt-3">
  <div class="image-view">
  <div class="cover-img-wrap">
    <% if @seller.cover_pic.attached? %>
    <%= image_tag @seller.cover_pic, class:"cover-img", alt:"cover-img" %>
    <%else %>
    <%= image_tag 'default_user.png', class:"cover-img", alt:"cover-img" %>
    <% end %>
  </div>
  <div class="profile-img-wrap">
    <% if @seller.profile_pic.attached? %>
    <%= image_tag @seller.profile_pic, class:"profile-img", alt: "profile-img" %>
    <% else %>
    <%= image_tag "default_user.png", class: "profile-img", alt: "profile-img" %>
    <% end %>
  </div>
  </div>
  <section>
  <div class="container about-user p-0">
    <h5>
    <b>
    About Seller
    </b>
    </h5>
    <div class="about">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita fuga at a! Corrupti adipisci culpa illum eum in, temporibus deleniti, quibusdam ut voluptatum alias at nobis aliquid sapiente, doloremque perferendis!
    </div>
  </div>
  </section>

  <section>
  <div class="address">
    <div class="seller-city">
    city: <b><%= @seller.city.name %></b>
    </div>
    <div class="seller-state">
    state: <b><%= @seller.state.name %></b>
    </div>
    <div class="country">
    country: <b><%= @seller.country.name %></b>
    </div>
    <div class="zip-code">
    zip code: <b><%= @seller.zip_code %></b>
    </div>
  </div>
  </section>

  <section>
  <h3><b>Latest items</b></h3>
  <div class="latest-items">
    <div class="container">
    <% if !@seller_items.blank? %>
    <div class="d-flex flex-wrap">
      <% @seller_items.each do |item| %>
      <div class="border rounded">
      <div class="seller-item">
        <% if item.car_images.attached? %>
        <%= image_tag item.car_images[0], class:"img-fluid" %>
        <% end %>
      </div>
      <div class="description">
        <%= item.description %>
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-success">
        view
        </button>

        <button class="btn btn-primary">
        appoint
        </button>
      </div>
      </div>
      <% end %>
    </div>
    <% else %>
     <div class="d-flex justify-content-center">
      <div><h4 class="text-center"> <b>till now no cars</b></h4></div>
     </div>
     <%end %>
    </div>
  </div>
  </section>
</div>