<div class="wrapper">
  <%= render "admin/layouts/sidebar" %>
  <div class='container-fluid p-0'>
     <%= render "admin/layouts/header" %>
    <section>
    <div class="container mt-3">
      <% if flash.key? :notice %>
    <%= render 'layouts/alert_success', notice: flash[:notice] %>
    <% end %>

    <% if flash.key? :error %>
    <%= render 'layouts/alert_error', error: flash[:error]%>
    <% end %>
      <% if @countries.blank? %>
       <h5>you have to create a country first to create a state</h5>
      <% else %>
      <%= form_with url: admin_state_create_path,  method: :post do |f|%>
      <div class="form-group">
         <% f.label :name %>
         <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Choose the country'%>
        <%= select_tag(:country_id, options_for_select( get_countries_dropdown ), class:"custom-select custom-select-lg mb-3") %>
      </div>
      <%=f.submit :add ,class:"btn btn-info" %>
      <% end %>
      <% end %>
    </div>
    </section>
  </div>
</div>