
<div class="wrapper">
  <%= render "admin/layouts/sidebar" %>
  <div class='container-fluid p-0'>
     <%= render "admin/layouts/header" %>
    <section>
    <% if flash.key? :error %>
    <%= render 'layouts/alert_error',  error: flash[:error]%>
    <% end %>
    <% if @brands.blank? %>
      you do not create a model name until you create a brand
    <% else %>
    <div class="container pt-3">
      <%= form_with url: admin_car_model_update_path(@car_model.id),  method: :put do |f|%>
      <div class="form-group">
         <%f.label 'model name' %>
         <%=f.text_field :name, class: "form-control", value: @car_model.name %>
      </div>
      <div>
      <div class="form-group required">
      <%=f.label 'choose the brand', class: "control-label"%>
      <%= select_tag(:brand_id, options_for_select( get_brands_dropdown, selected: @car_model.brand_id ), class: "custom-select custom-select-lg mb-3",  name: "seller_appointment[brand_id]", id: "brand", include_blank: '--selecr your brand--') %>
      </div>
      <% end%>
    <% end %>
    </div>
    </section>
  </div>
  </div>