<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'admin/appointment_view' , media: 'all', 'data-turbolinks-track': 'reload'%>
<% end %>

<div class="wrapper">
  <%= render "admin/layouts/sidebar" %>
  <div class="container-fluid p-0">
    <%= render "admin/layouts/header" %>
    <div class="container pt-3">

    <div class="form-group">
    <b><%=label_tag 'brand:'%></b>
    <span><%= @seller_appointment.brand.brand_name %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'model:'%></b>
    <span><%= @seller_appointment.car_model.name %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'ranges:'%></b>
    <span><%= @seller_appointment.killometer_driven.killometer_range %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'registered state code:'%></b>
    <span><%= @seller_appointment.car_registration.state_code %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'type:'%></b>
    <span><%= @seller_appointment.car_variant.variant %></span>
    </div>

    <div class="form-group">
     <b><%= label_tag "description:"%></b>
     <span><%= @seller_appointment.description %></span>
    </div>

    <div class="form-group field">
     <b><%= label_tag "price:"%></b>
     <span><%= @seller_appointment.price %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'cost ranges:'%></b>
    <span><%=(@seller_appointment.cost_range)?(@seller_appointment.cost_range.name) : ""%></span>
    </div>

    <div class="form-group">
    <b><%=label_tag "car selling country:" %></b>
    <span><%=@seller_appointment.country.name %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'car selling state:'%></b>
    <span><%=@seller_appointment.state.name %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'car selling city:'%></b>
    <span><%=@seller_appointment.city.name%></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'zip code:' %></b>
    <span><%=@seller_appointment.zip_code%></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'status:'%></b>
    <span><%= @seller_appointment.status %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'scheduled date:'%></b>
    <span><%= @seller_appointment.scheduled_date %></span>
    </div>

    <div class="form-group">
    <b><%=label_tag 'scheduled time:'%></b>
    <% if !@seller_appointment.scheduled_time.blank? %>
    <span><%= @seller_appointment.scheduled_time.strftime("%I:%M %p") %></span>
    <% end %>
    </div>

    <div class="form-group field" id="uio">
    <% if @seller_appointment.car_images.attached? %>
    <% @seller_appointment.car_images.each do |p| %>
    <%= image_tag p, class: "image-appointment"%>
    <% end %>
    <% end %>
    </div>
  </div>
  <div>
  </div>
  </div>
  </div>
  </div>
