<div class="wrapper">
  <%= render "admin/layouts/sidebar" %>
  <div class='container-fluid p-0'>
   <%= render "admin/layouts/header" %>
  <section>
  <div class="container mt-3">
    <% if flash.key? :notice %>
  <%= render 'layouts/alert_success', notice: flash[:notice] %>
  <% end %>

  <% if flash.key? :error %>
  <%= render 'layouts/alert_error', error: flash[:error]%>
  <% end %>
    <%= form_with url: admin_country_create_path,  method: :post do |f|%>
    <div class="form-group">
     <%f.label :name %>
     <%=f.text_field :name, class:"form-control" %>
    </div>
    <%=f.submit :add ,class:"btn btn-info" %>
    <% end%>
  </div>
  </section>
  </div>
</div>