
<div class="wrapper">
  <%= render "admin/layouts/sidebar" %>
  <div class='container-fluid p-0'>
   <%= render "admin/layouts/header" %>
  <section>
  <% if flash.key? :notice %>
  <%= render 'layouts/alert_success', notice: flash[:notice] %>
  <% end %>
  <% if flash.key? :error %>
  <%= render 'layouts/alert_error', error: flash[:error] %>
  <% end %>
  <div class="container pt-3">
    <%= form_with url: admin_car_registration_year_update_path(@car_registration_year.id),  method: :put do |f|%>
    <div class="form-group">
     <%=f.label :range1 %>
     <%=f.text_field :range1, class:"form-control",  value: @car_registration_year.range1 %>
    </div>
    <div class="form-group">
    <%=f.label :range2 %>
    <%=f.text_field :range2, class:"form-control", value: @car_registration_year.range2 %>
     </div>
    <%=f.submit :update ,class:"btn btn-info" %>
    <% end%>
    </div>
  </section>
  </div>
  </div>