
<div class="wrapper">
  <%= render "admin/layouts/sidebar" %>
  <div class='container-fluid p-0'>
     <%= render "admin/layouts/header" %>
    <section>
    <% if flash.key? :alert %>
    <p><%= flash[:alert] %></p>
    <% end %>
    <div class="container">
      <%= form_with url: admin_brand_update_path(@brand.id),  method: :put do |f|%>
      <div class="form-group">
         <%f.label :brand_name %>
         <%=f.text_field :brand_name, class:"form-control", value: @brand.brand_name %>
      </div>
      <%=f.submit :update ,class:"btn btn-info" %>
      <% end%>
      </div>
    </section>
  </div>
</div>