
<nav>
<div class="container-fluid p-0">
<style>
.d-left{
  right: 0px;
  left: auto
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="fixednav">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="ml-auto d-flex">
    <% if current_user.is_buyer? %>
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <% end %>
    <% if !current_user.blank? %>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i><%= current_user.first_name+" "+current_user.last_name %>
        </a>
        <div class="dropdown-menu d-left" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">sellers</a>
          <% if current_user.is_buyer? %>
           <%= link_to "my appointments", all_buyer_appointments_path(current_user.id), class: "dropdown-item" %>
          <% else %>
           <%= link_to "my appointments", all_seller_appointments_path(current_user.id), class: "dropdown-item" %>
          <% end %>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control ml-2 mr-sm-2" type="search" placeholder="Status" aria-label="Search", id="appointment">
            <button class="btn btn-outline-success m-2", id="status" type="submit">check</button>
          </form>
          <a class="dropdown-item" href="#">branches</a>
          <div class="dropdown-divider"></div>
          <%= link_to raw('<i class="fa fa-cog"></i>Settings'), user_settings_path(current_user.id), class:"dropdown-item" %>
          </div>
        </div>
      </li>
    </ul>
    <% else %>
    <button class="btn btn-outline-info my-2 my-sm-0 ml-3" >Buy</button>
    <button class="btn btn-outline-info my-2 my-sm-0 ml-3" >Sell</button>
    <button class="btn btn-outline-success my-2 my-sm-0 ml-3">login</button>
    <% end %>
    </div>
  </div>
</div>
</nav>
<script>
  $('#status').click(function(e){
    e.preventDefault()
    check_status_buyer_appointment()
  })
  function check_status_buyer_appointment(){
    $.ajax({
      type: 'get',
      url: '<%= check_status_buyer_appointment_url %>',
      data: {
        appointment_id: $('#appointment').val()
      },
      success: function(data){
        console.log(data)
      },
      error: function(error){
        console.log(error)
      }
    })
  }
</script>